<div class="card m-2 small">
    <div class="card-header p-2">
        <div class="row">
            <div class="col">
                @Name
            </div>
            <div class="col-auto">
                @Value
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="font-monospace">
            <strong>HEX</strong>
            <div class="text-muted mb-1">@Value.ToString("X4")</div>

            <strong>BIT</strong>
            <div class="text-muted">@Convert.ToString(Value, 2).PadLeft(16, '0')</div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public int Value { get; set; }

}
